root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
tab_width = 4
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[{*.kt,*.kts}]
indent_style = space
ij_kotlin_name_count_to_use_star_import = 3
ij_kotlin_name_count_to_use_star_import_for_members = 3

[{*.markdown,*.md}]
indent_style = space
trim_trailing_whitespace = false

[*.yml]
indent_size = 2
indent_style = space
